---
layout: page
title: 研究项目
subtitle: We work directly with data scientists to understand how they work and develop new tools and visualizations. We would love to work with you on any of our ongoing studies! In addition, you can fill out this quick <a href="https://docs.google.com/forms/d/e/1FAIpQLSdm-uNPqktKc97vOOJDTkbnF0fg8oPltbrqrjqHxWGIhudnHA/viewform?usp=sf_link" target="_blank">interest form</a> to be notified if you're eligible for a future study.
description: We are looking for data experts to help inform the design of new tools and visualizations. Check out our ongoing studies!
permalink: studies/
lang: zh
---

<div>
  {% assign hasLink = false %}
  {% for post in site.posts %}
    {% if post.studyLink %}
    {% include post-preview.html post=post %}
    {% assign hasLink = true %}
    {% endif %}
  {% endfor %}

  {% unless hasLink %}
  <div>
    <p><strong>暂时还没有项目 :(</strong></p>
  </div>
  {% endunless %}
</div>
