---
layout: page
title: Team
subtitle: People define this group. If you are a current student at CMU, you can apply to the lab via <a href="https://forms.gle/6tHMesK3Yv8tkYtv5">this form</a>. If you are interested in a PhD with us, <a href="https://dig.cmu.edu/2020/10/03/join-us.html">please apply to CMU</a>.
roles:
  - Professor
  - Asst. Professor
  - PhD Student
  - Masters Student
  - Undergraduate Student
  - Visiting Student
  - Engineer
  - Postdoc
permalink: team/
lang: en
---

<h2>Current Members</h2>

{% for role in page.roles %}
  {% assign persons = site.people | where: "role", role | where: "alumni", false %}
  {% if persons.size == 0 %}
    {% continue %}
  {% endif %}
<h3>{{ role }}</h3>

<div class="flex flex-wrap">
  {% for person in persons %}
    <div class="w-25-m w-20-l w-50 ph2 pv2">
      <a href="{{ person.url | relative_url }}">
        <span>
          <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
          <span class="black">
            {{ person.name }}
          </span>
        </span>
      </a>
    </div>
  {% endfor %}
</div>
{% endfor %}

<h2>Past Members</h2>

<div class="mb4 flex flex-wrap">
  {% assign alumni = site.people | where_exp: 'p', 'p.alumni_since' %}
  {% assign sorted_alumni = alumni | sort: 'alumni_since' | reverse %} 
  <div class="flex flex-wrap">
  {% for person in sorted_alumni %} 
      <div class="w-25-m w-20-l w-50 ph2 pv2">
        <a href="{{ person.url | relative_url }}">
          <span title="{{ person.name }} ({{ person.role }})">
            <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
            <span class="black">
              {{ person.name }}
            </span>
            <span class="gray">
              ({{ person.alumni_since }})
            </span>
          </span>
        </a>
      </div>
  {% endfor %} 
  </div> 
</div>
