<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="bg-white">
        <div
          class="w-100 mw8 ph4-l ph3 center pt2 pb3 flex items-baseline flex flex-wrap"
        >
          <a href="/" class="dib f2 f3-ns fw6 link black hover-cas-red center-s pb3 pr3">
            CMU DIG
            <picture>
              <source
                srcset="{{ '/assets/logo-light.svg' | relative_url }}"
                type="image/svg+xml"
              />
              <source
                srcset="{{ '/assets/logo-light.webp' | relative_url }}"
                type="image/webp"
              />
              <source
                srcset="{{ '/assets/logo-light.png' | relative_url }}"
                type="image/png"
              />
              <img
                alt="The CMU mascot Scotty, who is a black dog, digging up dirt."
                class="pl2 w3"
                style="margin-bottom: -1.3rem"
              />
            </picture>
          </a>
          <nav
            class="mt2 ml-auto-ns lh-copy w-auto-ns w-100 flex flex-column flex-row-ns f4 f5-ns"
          >
            <div class="tc mt0-ns mt2">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cas-red link dib"
                href="{{ '/about' | relative_url }}"
                >{{ site.data.head[site.active_lang]["about"] }}</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cas-red link dib"
                href="{{ '/team' | relative_url }}"
                >{{ site.data.head[site.active_lang]["team"] }}</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cas-red link dib"
                href="{{ '/publications' | relative_url }}"
                >{{ site.data.head[site.active_lang]["publications"] }}</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cas-red link dib"
                href="{{ '/news' | relative_url }}"
                >{{ site.data.head[site.active_lang]["news"] }}</a
              >
            </div>
            <div class="tc ml3-m ml4-l">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cas-red link dib"
                href="https://github.com/cmudig"
                ><i class="fab fa-github mr1"></i>GitHub</a
              >

              <!-- Language Select Button -->
              {% for lang in site.languages %}
                {% if lang != site.active_lang %}
                <a
                  class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cas-red link dib"
                  {% if lang == site.default_lang %}
                    {% static_href %}href="{{ page.permalink | relative_url }}"{% endstatic_href %}
                  {% else %}
                    href="{{ lang | relative_url }}{{ page.permalink }}"
                  {% endif %}
                  ><i class="fas fa-language mr1"></i>{{ site.data.lang[lang] }}</a
                >
                {% endif %}
              {% endfor %}
            </div>
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer class="bt bg-cas-blue white mt5 flex-shrink-0">
      <div class="w-100 mw8 ph4-l ph3 center pv5">
        <div class="flex flex-row-ns flex-column">
          <div class="w-50-ns">
            <div class="pv2">
              {{ site.data.foot[site.active_lang]["greet"] }}
            </div>

            <div class="pv2 footer-note">
              {{ site.data.foot[site.active_lang]["lab_name"] }}
            </div>
            <div class="pv2">
              {{ site.data.foot[site.active_lang]["address"] }}
            </div>
            <div class="pv2">
              <a
                href="{{ '/team' | relative_url }}"
                class="link white dim mr2"
                >
                <i class="fas fa-users"></i>
                {{ site.data.foot[site.active_lang]["join"] }}
              </a>
              <a
                href="{{site.page_url}}{{page.path}}"
                class="link white dim mr2"
                >
                <i class="fas fa-pen-to-square"></i>
                {{ site.data.foot[site.active_lang]["edit"] }}
              </a>
            </div>
            <div class="pt4">
              <abbr
                title="Last build on {{ site.time | date: '%Y-%m-%d' }}"
                class="white"
                style="text-underline-position: under"
                >{{ site.time | date: "%B %Y" }}</abbr
              >
            </div>
          </div>
          <div class="w-50-ns">
            <h4 class="white mt0-ns">Links</h4>
            <ul class="list pl0">
              <li>
                <a href="{{ site.data.foot[site.active_lang]['loongson_url'] }}" class="link white dim pv1 dib"
                  >{{ site.data.foot[site.active_lang]["loongson_link"] }}</a
                >
              </li>
              <li>
                <a href="{{ site.data.foot[site.active_lang]['ict_url'] }}" class="link white dim pv1 dib"
                  >{{ site.data.foot[site.active_lang]["ict_link"] }}</a
                >
              </li>
              <li>
                <a href="{{ site.data.foot[site.active_lang]['ucas_url'] }}" class="link white dim pv1 dib"
                  >{{ site.data.foot[site.active_lang]["ucas_link"] }}</a
                >
              </li>
            </ul>
            <div style="max-width: 100%; display:flex; align-items:center;">
              <div class="pr1" style="max-width: 60px;" ><img src="{{'/assets/ucas.png' | relative_url}}" alt="ucas" /></div>
              <div class="pr1" style="max-width: 60px;" ><img src="{{'/assets/ict.png' | relative_url}}" alt="ict" /></div>
              <div class="pr1" style="max-width: 100px;"><img src="{{'/assets/loongson.png' | relative_url}}" alt="loongson" /></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
